<!-- THIS FILE SHOULD BE IN A SEPARATE FOLDER TO BE APPLIED AFTER ALL PATCHES IN APP_CONFIG\INCLUDE FOLDER -->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
    </settings>
    <pipelines>
      <initialize>
        <processor patch:before="*[1]" type="SharedSource.HTML5Geolocation.Pipelines.InitializeRoutes, SharedSource.HTML5Geolocation"/>
      </initialize>
    </pipelines>
    <createVisit>
      <!--https://kb.sitecore.net/articles/320734-->
      <processor type="Sitecore.Analytics.Pipelines.CreateVisits.UpdateGeoIpData, Sitecore.Analytics">
        <patch:delete/>
      </processor>
      <processor type="SharedSource.HTML5Geolocation.Pipelines.UpdateGeoIpData, SharedSource.HTML5Geolocation"
        patch:after="processor[@type='Sitecore.Analytics.Pipelines.CreateVisits.XForwardedFor, Sitecore.Analytics']" />
    </createVisit>
    <startTracking>
      <processor type="Sitecore.Analytics.Pipelines.StartTracking.UpdateGeoIpData, Sitecore.Analytics">
        <patch:delete/>
      </processor>
    </startTracking>
    <commitSession>
      <processor type="Sitecore.Analytics.Pipelines.CommitSession.UpdateGeoIpData, Sitecore.Analytics">
        <patch:delete/>
      </processor>
    </commitSession>
    <ensureClassification>
      <processor type="Sitecore.Analytics.Pipelines.EnsureClassification.UpdateGeoIpData, Sitecore.Analytics">
        <patch:delete/>
      </processor>
    </ensureClassification>
  </sitecore>
</configuration>
